# BeforeSpend HTML5 History Mode SPA Routing htaccess Configuration
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Add correct MIME types for PWA Manifest and Service Worker
AddType application/manifest+json .webmanifest
AddType application/manifest+json json
AddType application/javascript js
